body {
    font-family: Arial, sans-serif; 
    margin: 3rem;
    background-color: #f5f5f5; 
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
  }
  
  select, input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  #quiz-container {
    padding: 2rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  #quiz-container p {
    margin-bottom: 1rem;
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
